/* * and html style rules should be added to projects by default, 
and edited/changed as needed. Good boilerplate to follow. */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
/* Smooth scrolling for the page. Native for smooth scrolling. */
html {
  scroll-behavior: smooth;
}
/* ------------------------- REUSABLE ---------------------- */
.row {
    margin:  0 auto;
    max-width: 1040px;
}
section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}
.clearfix {zoom: 1}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
/* ------------------------- GENERIC LINKS ---------------------- */
a:link,
a:visited {
    border-bottom: 1px solid #e67e22;
    color: #e67e22;
    padding-bottom: 1px;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
    border-bottom: 1px solid transparent;
    color: #555;
}
/* ------------------------- HEADER/HEADINGS ---------------------- */
.logo {
    float: left;
    height: 100px;
    margin-top: 20px;
    width: auto;
}
.logo-black {
    display: none;
    float: left;
    height: 50px;
    margin: 5px 0;
    width: auto;
}
/* Default nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    color: #fff;
    font-size: 90%;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}
/* Sticky nav */
.sticky {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 16px 0;
}
.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
}
.sticky .main-nav {
    margin-top: 18px;
}
/* Mobile nav */
.mobile-nav-icon {
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 30px;
}
.mobile-nav-icon i {
    color: #fff;
    font-size: 200%;
}
/* ------------------------- HEADER/BANNER ---------------------- */
header {
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../imgs/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.hero-text-box {
    left: 15%;
    position: absolute;
    text-align: left;
    top: 350px;
    width: 1040px;
}
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    color: #fff;
    font-size: 240%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 0;
    word-spacing: 4px;
}
h2 {
    font-size: 180%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 2px;
}
h2:after {
    background-color: #e67e22;
    content: " ";
    display: block;
    height: 3px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;

}
h3 {
    font-size: 100%;
    margin-bottom: 15px;
}
/* ------------------------- BUTTONS ---------------------- */
.button:link,
.button:visited,
input[type=submit] {  
    border-radius: 200px;
    display: inline-block;
    font-weight: 300;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}
.full-btn:link,
.full-btn:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 20px;
}
.ghost-btn:link,
.ghost-btn:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #a15512;
    border: 1px solid #a15512;
    color: #fff;
}
.full-btn:hover,
.full-btn:active,
input[type=submit] {
    border: 1px solid #a15512;
}
.ghost-btn:hover,
.ghost-btn:active {
    border: 1px solid #a15512;
    color: #fff;
}
/* ------------------------- ICONS ---------------------- */
.icon-big {
    color: #e67e22;
    display: block;
    font-size: 350%;
    margin-bottom: 10px;
    text-align: center;
}
.icon-small {
    color: #e67e22;
    display: inline-block;
    font-size: 120%;
    line-height: 120%; /* Align text & icons in row. */
    margin-right: 10px;
    margin-top: -5px; /* Align text & icons in row. */
    text-align: center;
    vertical-align: middle; /* Align text & icons in row. */
    width: 30px;
}
/* ------------------------- FEATURES ---------------------- */
.long-copy {
    line-height: 145%;
    margin: 0 auto;
    width: 70%;
}
.features-section .long-copy {
    margin-bottom: 30px;
}
.box p {
    font-size: 90%;
    line-height: 140%;
}
/* Animations */
.animation-1,
.animation-2,
.animation-3 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
}
.animation-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.animation-1.animated,
.animation-2.animated,
.animation-3.animated {
    opacity: 1;
}
/* ------------------------- MEALS IMAGES ---------------------- */
.meals-section {
    padding: 0;   
}
.meals {
    list-style: none;
    width: 100%;
}
.meals li {
    display: block;
    float: left;
    width: 25%;
}
.meal-img {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.meal-img img {
    height: auto;
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    transform: scale(1.15); /* 115% */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; 
    width: 100%;
}
.meal-img img:hover {
    opacity: 1; /* 100% */
    -webkit-transform: scale(1.03);
    transform: scale(1.03); /* 100% */
}
/* ------------------------- HOW IT WORKS ---------------------- */
.how-it-works-section {
    background-color: #f4f4f4;
}
.how-it-works-box:first-child {
    margin-top: 20px;
    padding-right: 3%;
    text-align: right;
}
.how-it-works-box:last-child {
    padding-left: 3%;
    margin-top: 30px;
}
.app-screen {
    width: 40%;
}
.steps {
    margin-bottom: 50px;
    padding-top: 10px;
}
.steps div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    color: #e67e22;
    display: inline-block;
    float: left;
    font-size: 150%;
    height: 55px;
    margin-right: 25px;
    padding: 5px;
    text-align: center;
    width: 55px;
}
.steps:last-of-type {
    margin-bottom: 80px;
}
.app-btn img {
    height: 45px;
    margin-right: 10px;
    width: auto;
}
.app-btn:link,
.app-btn:visited {
    border: 0;
}
/* ------------------------- CITIES ---------------------- */
.box img {
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}
.cities-section h3 {
    font-weight: 600;
}
.city-info {
    margin-bottom: 5px;
}
/* ------------------------- TESTIMONIALS ---------------------- */
.testimonials-section {
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../imgs/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/back-customers.jpg);
    background-size: cover;
    color: #fff;
}
blockquote:before {
    content: "\201C";
    display: block;
    font-size: 500%;
    left: -5px;
    position: absolute; /* Parent element now requires position: relative; */
    top: -5px;
}
blockquote {
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;    
    padding: 2%;
    position: relative;
}
cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}
cite img {
    border-radius: 50%;
    height: 45px;
    margin: 10px;
    vertical-align: middle;
}
/* ------------------------- PLANS ---------------------- */
.plans-section {
    background-color: #f4f4f4; 
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px #c4c4c4;
    box-shadow: 0 2px 2px #c4c4c4; /* x-axis offset, y-axis offset, bue, and color */
    margin-left: 5%;
    width: 90%;
}
.plan-box div {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
}
.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: none;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
    font-size: 95%;
}
.price {
    color: #e67e22;
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
}
.price span {
    font-size: 30%;
    font-weight: 300;
}
.meal-price {
    font-size: 80%;
}
/* ------------------------- CONTACT ---------------------- */
.contact-form {
    margin: 0 auto;
    width: 60%;
}
input[type=text],
input[type=email],
select, 
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    width: 100%;
}
textarea {
    height: 100px;
}
input[type=checkbox] {
    margin: 10 5px 10px 0; 
}
*:focus {outline: none;} /* Takes out the default outlining on focus elements */
/* ------------------------- FOOTER ---------------------- */
footer {
    background-color: #333;
    font-size: 80%;
    padding: 40px;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
}
.footer-nav li, 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child, 
.social-links li:last-child {
    display: inline-block;
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    border: 0;
    color: #888;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 150%
}
.ion-social-facebook,
.ion-social-twitter,
footer .ion-social-instagram,
.ion-social-googleplus {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}
footer .ion-social-twitter:hover {
    color: #55acee;
}
.ion-social-instagram:hover {
    color: #fbad50;
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
footer p {
    color: #888;
    margin-top: 20px;
    text-align: center;
}